
<div class="container-fluid">
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
    <section class="section home-5-bg" id="home">
        <div id="particles-js"></div>
        <div class="bg-overlay"></div>
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="justify-content-center row">
                        <div class="col-lg-7">
                            <div class="mt-40 text-center home-5-content">
                                <div class="home-icon mb-4"><i class="mdi mdi-pinwheel mdi-spin text-white h1"></i></div>
                                <h3 class="text-white font-weight-normal home-5-title mb-0">EP Woocommerce ajax Filter</h3>
                                <p class="text-white-70 mt-4 f-15 mb-0"><a href="https://websitetoyou.cz" target="_blank">Plugin Home</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


